@inject BlazorBattles.Client.Services.IBananaService BananaServices

<button @onclick="IncreaseBananaCount" class="btn btn-info">+</button>

@code {
    public void IncreaseBananaCount()
    {
        BananaServices.AddBananas(10);
    }
}
